@page
@model RoomModel
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-header text-center">
                        <h1>Room: @Model.Room.Name</h1>
                    </div>
                    <div class="scroll card-body">
                        <div class="row">
                            <div class="col-6">
                                <ul id="messagesList"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row" id="typingIndicator" style="display: none">
                            <div class="col">
                                <p id="indicatorText" style="display: inline"></p>
                                <img src="../media/transgif.gif" alt="typing indicator" width="40" height="20" style="display: inline">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">Message</div>
                            <div class="col-6"><input onkeyup="indicateIsTyping()" class="col-12" type="text" id="messageInput" /></div>
                            <div class="col-4">
                                <input type="button" id="sendButton" value="Send Message" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h1>Participants</h1>
                    </div>
                    <div class="card-body">
                        @foreach (var participant in Model.Room.Participants)
                        {
                            <p>@participant.Name</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>



        <input type="hidden" id="roomid" name="roomid" value="@Model.Room.Id" />
        <input type="hidden" name="participantId" value="@Model.Participant.Id" />
        <input type="hidden" id="participantName" name="participantName" value="@Model.Participant.Name" />

        <script src="~/js/signalr/dist/browser/signalr.js"></script>

    <script>
        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

        //Disable send button until connection is established
        document.getElementById("sendButton").disabled = true;

        connection.on("ReceiveMessage", function (user, message) {
            var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
            var encodedMsg = user + " says " + msg;
            var li = document.createElement("li");
            li.textContent = encodedMsg;
            document.getElementById("messagesList").appendChild(li);
        });

        function setIndicatorOff() {
            document.getElementById("typingIndicator").style.display = "none";
        }

        connection.on("Typing", function (user) {
            document.getElementById("indicatorText").innerHTML = user + " is typing";
            document.getElementById("typingIndicator").style.display = "block";
            setTimeout(setIndicatorOff, 2000);
        });

        connection.start().then(function () {
            document.getElementById("sendButton").disabled = false;
            var roomID = document.getElementById("roomid").value;
            connection.invoke("JoinRoom", roomID); // join the room chat
        }).catch(function (err) {
            return console.error(err.toString());
        });

        document.getElementById("sendButton").addEventListener("click", function (event) {
            var roomID = document.getElementById("roomid").value;
            var user = document.getElementById("participantName").value;
            var message = document.getElementById("messageInput").value;
            connection.invoke("SendMessage", roomID, user, message).catch(function (err) {
                return console.error(err.toString());
            });
            event.preventDefault();
        });

        var timerIsRunning = false;

        function setTimerRunningFalse() {
            timerIsRunning = false;
        }

        function indicateIsTyping() {
            if (timerIsRunning) {
                return;
            }
            timerIsRunning = true;
            var roomID = document.getElementById("roomid").value;
            var user = document.getElementById("participantName").value;
            connection.invoke("ParticipantTyping", roomID, user).catch(function (err) {
                return console.error(err.toString());
            });
            setTimeout(setTimerRunningFalse, 2000);
        }
    </script>
